<div class="splide" id="newestPosts">
  <div class="splide__track">
		<ul class="splide__list">
        {% for item in newestPosts %}            
            <li class="splide__slide">
                <div class="content__post">
                    <img src="{{item.thumbnail.src}}" alt="">
                    <div class="new-post___description">
                        <span>
                            {% for cat in item.categories %}
                                {{cat.name}} /
                            {% endfor %}
                        </span>
                        <h3>
                            {{item.title}}
                        </h3>
                        {{item.content}}
                        <span class="date">
                            {{item.date}}
                        </span>
                    </div>
                </div>
            </li>
        {% endfor %}
		</ul>
  </div>
</div>