{% extends "layouts/base.twig" %}
{% block content %}
	{% set fPosts = auxGetField('sliders', page.ID) %}
	{% include "sections/hero-carousel.twig" with { featured_posts: fPosts } %}
	<section class="section">
		<div class="container">
			<div class="row">
				{% set about = auxGetField('about', page.ID) %}
				<div class="col-lg-6 col-12">
					<img src="{{Image(about.image).src}}" alt="">
				</div>
				<div class="col-lg-6 col-12">
					{{about.text}}
					<a href="{{about.link.link}}">{{about.link.title}}</a>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2>Articulos Recientes</h2>
				</div>
				<div class="col-12">
					{% filter shortcodes %}
						[posts-recientes]
					{% endfilter %}
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="container">
			<div class="row">
				{% set explore = auxGetField('explore', page.id) %}
				<div class="col-12">
					<h2>{{explore.title}}</h2>
				</div>
				<div class="col-12">
					{{explore.text}}
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="container">
			<div class="row">
				{% set metrics = auxGetField('metrics', page.id) %}
				{% for metric in metrics %}
					<div class="col-lg-4 col-12 d-flex flex-column">
						{{metric.number}}
						{{metric.title}}
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<section>
		<div class="container">
			{% filter shortcodes %}
				[subscribe]
			{% endfilter %}
		</div>
	</section>
	<section>
		<div class="container">
			{% filter shortcodes %}
				[instagram]
			{% endfilter %}
		</div>
	</section>
{% endblock %}
